.horizontalbar {
    color:white;
}
html {
    background-color: #f4f0ec;
}
.horizontalbar :last-child {
    margin-right: 1em;
}
.navbar {
    justify-content: space-between;
    width: 100%;
}
.navbar a {
    margin-left: 3em;
    color: white;
    font-size: 1.3em;
}
.navbar a:hover {
    color:rgb(196, 196, 196);
}
.horizontalbar h1 {
    font-weight: bold;
}
.horizontalbar img {
    margin-left: 3em;
    margin-right: 1em;
}
.main {
    width: 100%;
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #f4f0ec;
    color:#343a40!important;
}